@font-face {
  font-family: RobotoCondensed;
  src: url(../assets/RobotoCondensed-Light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(../assets/Economica-Bold.ttf);
}

.side-bar {
  /* background-color: #393a44; */
  background-color: #353941;
  min-width: 200px;
}

body {
  /* background-image: linear-gradient(to bottom, rgba(221, 224, 236, 0.52), rgba(37, 25, 34, 0.73)), url('https://images.unsplash.com/photo-1578643800480-7cb8e6dea0b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80'); */
  /* background-image:  linear-gradient(to bottom, rgba(38, 40, 43, 0.55), rgba(53, 57, 65, 0.46)), url('https://images.unsplash.com/photo-1578643800480-7cb8e6dea0b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80'); */
  background-color: #26283b;
  /* background-size: cover; */
  /* text-align: center; */
  font-size: 20px;
  /* padding: 2.5%; */
  font-family: 'RobotoCondensed';
}

/* #show_bg_2 {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
  url('images/background.jpg');
  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px;
} */

/* .router::before {
  content: '';
  background-image: url('https://images.unsplash.com/photo-1578643800480-7cb8e6dea0b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
} */

h1, h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
}

.dashboard {
  color: #FAFAF8;
}

.dashboard h1 {
  font-size: 4rem;
}

.newTable {
  /* color: #fff5ee; */
  color: #FAFAF8;
}

.table {
  width: 26vw;
  /* background-image: linear-gradient(to bottom right, #5d6b39, #6b4739); */
  /* background-color: #0ef6be; */
  /* background-color: #0ea; */
  background-color: #353941;
  color: #fafaf8;
  /* color: #1e2528; */
  /* color: #26283b; */
}

/* .tableBtn { */
  /* background-color: #90b8f8; */
  /* background-color: #ffd36e; */
  /* background-color: #fadc44;
  color: #26283b;
} */

.newReservation {
  color: #FAFAF8;
}

.search {
  color: #FAFAF8;
}

/* .resFound {
  color: #ff7f50;
} */

.resFound {
  color: #ff7f50;
}

/* .resFound::before {
  content: '';
  background-image: url(../assets/oops-removebg.png);
  background-size: cover;
  position: absolute;
  top: 150px;
  right: 0px;
  bottom: 0px;
  left: 30px;
  width: 173px;
  height: 173px;
} */

.reservation {
  /* background-color: #6b4739; */
  /* background-image: linear-gradient(to bottom right, #5d6b39, #6b4739); */
  /* background-color: #353941; */
  background-image: linear-gradient(to bottom right, #26283b, #fadc44);
  color: #FAFAF8;
  /* color: black; */
  width: 26vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editRes {
  color: #FAFAF8;
}

.tables {
  color: black;
}

.tables h1 {
  color: #FAFAF8
}

/* .resButton {
  /* background-color: #5d6b39; */
  /* background-color: #0ef6be; */

  /* background-color: #fadc44;
  color: #26283b; */
/* } */

/* .seatBtn {
  background-color: #67b826;
} */

.cardBtn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .cancelBtn {
  background-color: #e86835;
} */

.resButton {
  border: none;
  display: inline;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #fadc44;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
 }
 
 .resButton span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #fadc44;
 }
 
 .resButton span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
 }
 
 .resButton:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #fadc44;
 }
 
 .resButton:hover {
  color: #26283b;
 }
 
 .resButton:active span::before {
  background: #2751cd;
 }

 .tableBtn {
  border: none;
  display: inline;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #fadc44;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
 }
 
 .tableBtn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #fadc44;
 }
 
 .tableBtn span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
 }
 
 .tableBtn:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #fadc44;
 }
 
 .tableBtn:hover {
  color: #26283b;
 }
 
 .tableBtn:active span::before {
  background: #2751cd;
 }

 .seatBtn {
  border: none;
  color: #090909;
  /* padding: 0.7em 1.7em; */
  /* font-size: 18px; */
  border-radius: 0.5em;
  background: #19afd0;
  /* border: 1px solid #26283b; */
  transition: all .3s;
  box-shadow: 3px 3px 12px #353941;
 }
 
 .seatBtn:hover {
  border: 1px solid #353941;
 }
 
 .seatBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
 }

 .cancelBtn {
  border: none;
  color: #090909;
  /* padding: 0.7em 1.7em; */
  /* font-size: 18px; */
  border-radius: 0.5em;
  background: #e86835;
  /* border: 1px solid #26283b; */
  transition: all .3s;
  box-shadow: 3px 3px 12px #353941;
 }
 
 .cancelBtn:hover {
  border: 1px solid #353941;
 }
 
 .cancelBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
 } 

 .editBtn {
  border: none;
  color: #090909;
  /* padding: 0.7em 1.7em; */
  /* font-size: 18px; */
  border-radius: 0.5em;
  background: #a5c5c3;
  /* border: 1px solid #26283b; */
  transition: all .3s;
  box-shadow: 3px 3px 12px #353941;
 }
 
 .editBtn:hover {
  border: 1px solid #353941;
 }
 
 .editBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
 }