@font-face {
  font-family: RobotoCondensed;
  src: url(../assets/RobotoCondensed-Light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(../assets/Economica-Bold.ttf);
}

.side-bar {
  background-color: #ffc807;
  /* background-color: #353941; */
  min-width: 200px;
}

.sidebar-font {
  color: #282828;
  font-weight: 700;
  margin-top: 1.3rem;
}

.sidebar-nav {
  margin-bottom: 1.3rem;
}

body {
  /* background-image: linear-gradient(to bottom, rgba(8, 152, 178, 0.79), rgba(8, 152, 178, 0.79)), url('https://images.unsplash.com/photo-1584216514638-929205f5dd5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
  background-image: linear-gradient(to bottom, rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.9)), url('https://images.unsplash.com/photo-1540202404-b2979d19ed37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80');
  /* background-color: #282828; */
  background-size: cover;
  font-size: 20px;
  font-family: 'RobotoCondensed';
}

h1, h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
}

.dashboard {
  color: #FAFAF8;
}

.dashboard h1 {
  font-size: 4rem;
}

/* .table {
  width: 26vw;
  background-color: transparent;
  color: #fafaf8;
  border: solid 1px #fab546;
} */

.newReservation {
  color: #FAFAF8;
}

.resFound {
  color: #ffc807;
  /* color: #fab546; */
  margin-top: 1.3rem;
  text-transform: uppercase;
}

/* .reservation {
  display: flex;
  margin-top: 1.3rem;
  font-size: 1.3rem;
  background-color: transparent;
  color: #FAFAF8;
  width: 38vw;
  border: 1px solid #ffc807;
} */

/* .tables {
  color: black;
} */

.tables h1 {
  /* color: #ffc807; */
  color: #FAFAF8;
}

.newResBtn {
  margin-top: 1.3rem;
}


 /* Breakpoints: 0-480, 481-768, 769-1279, 1280+ */


 /* WORKING ON NOW - was 565px*/
 @media screen and (max-width: 412px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.6rem;
  }

  .dashboardBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3rem;
  }

  .dashboard-main hr {
    border: 4px solid #ffc807;
    width: 90vw;
    margin-bottom: 3.1rem;
    margin-top: 2.1rem;
  }

  /* .resButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1.3rem;
    font-size: 0.9rem
  } */

  .resButton {
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 2.4em;
    margin: 0.5rem;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .resButton span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
   }
   
   .resButton span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .resButton:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .resButton:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .resButton:active span::before {
     background: #ffc807
    /* background: #fab546; */
   }

  .res {
    text-align: center;
  }

  .seatBtn {
    margin-right: 1.3rem; /* DIFFERENT */ 
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 1.6em; /* DIFFERENT */ 
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .seatBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .seatBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .seatBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .seatBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .seatBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }

   .editBtn {
    margin-right: 1.3rem; /* DIFFERENT */ 
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 1.6em; /* DIFFERENT */ 
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .editBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .editBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .editBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .editBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .editBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }
  
   .finishBtn {
    margin-right: 1.3rem; /* DIFFERENT */ 
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 1.6em; /* DIFFERENT */ 
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .finishBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .finishBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .finishBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .finishBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .finishBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }

   .cancelBtn {
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .cancelBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .cancelBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .cancelBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .cancelBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .cancelBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }
  
   .submitBtn {
    margin-right: 1.3rem; /* DIFFERENT */
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .submitBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .submitBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .submitBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .submitBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .submitBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }
  
   .searchBtn {
    margin-left: 1.3rem; /* DIFFERENT */ 
    border: none;
    display: inline;
    position: relative;
    padding: 0.4rem 2.4rem; /* DIFFERENT */ 
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .searchBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .searchBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .searchBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ffc807;
    /* background: #fab546; */
   }
   
   .searchBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .searchBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }

   .tableBtn {
    border: none;
    display: inline;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    /* color: #ffc807; */
    color: #FAFAF8;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .tableBtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ffc807;
    /* border: 4px solid #fab546; */
  }
   
   .tableBtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .tableBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background-color: #ffc807;
    /* background: #fab546; */
   }
   
   .tableBtn:hover {
    color: #282828;
    /* color: #26283b; */
   }
   
   .tableBtn:active span::before {
     background: #ffc807;
    /* background: #fab546; */
   }

  .tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3rem;
  }

  .table {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   color: #FAFAF8;
   border: 1px solid #ffc807;
   /* border: 1px solid #FAFAF8; */
   width: 90vw;
   font-size: 0.9rem;
  }

  .tableBtn {
    margin: 1.6rem;
    /* width: 31vw; */
    text-align: center;
  }

  .newTable {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    /* color: #fff5ee; */
    color: #FAFAF8;
  }

  .newTable input {
    margin: 1rem;
  }

  .newTableBtns {
    margin-top: 1rem;
  }

  .newReservation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.3rem;
  }

  .newReservation label {
    margin-right: 1.3rem;
    margin-top: 0.8rem;
  }

  .newReservation input {
    margin-left: 1.3rem;
  }

  /* .reservation {
    display: flex;
    margin-top: 1.3rem;
    font-size: 1.3rem;
    background-color: transparent;
    color: #FAFAF8;
    width: 38vw;
    border: 1px solid #ffc807;
  } */

  .reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
    font-size: 1.3rem;
    /* background-color: #6b4739; */
    /* background-image: linear-gradient(to bottom right, #5d6b39, #6b4739); */
    /* background-color: #353941; */
    /* background-image: linear-gradient(to bottom right, #26283b, #fadc44); */
    background-color: transparent;
    color: #FAFAF8;
    /* color: black; */
    width: 90vw;
    border: 1px solid #ffc807;
    /* border: 1px solid #fafaf8; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .seating {
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
  }

  .seating h3 {
    color: #FAFAF8;
  }

  .tableList label {
    display: flex;
    flex-direction: column;
    color: #FAFAF8;
  }

  .editRes {
    display: flex;
    flex-direction: column;
    margin: 1.3rem;
    color: #FAFAF8;
  }

  .editRes input {
    margin: 0.8rem 1rem;
  }

  .name {
    display: flex;
  }

  .firstName input {
    display: block;
    margin: 0;
  }

  .lastName {
    margin-left: 1.3rem;
  }

  .mobileNumber input {
    display: block;
    margin:0;
    width: 190px;
  }

  .mobileNumber label {
    margin-top: 1.3rem;
  }

  .reservationInfo {
    display: flex;
    margin-top: 1.3rem;
  }

  .resDate {
    text-align: center;
  }

  .resDate input {
    display: block;
    margin: 0;
    width: 190px
  }

  .resTime {
    margin-left: 2.3rem;
  }

  .resTime input {
    display: block;
    margin: 0;
    width: 190px;
  }

  .numberPeople {
    margin-top: 1.3rem; 
  }

  .numberPeople input {
    display: block;
    margin: 0;
    width: 190px;
  }

  .editResBtn {
    margin-top: 1rem;
  }

  .search {
    display: flex;
    flex-direction: column;
    margin: 1.3rem;
    color: #FAFAF8;
  }
  
  .search h2 {
    font-size: 4rem;
    margin-bottom: 1.3rem;
  }
  .seatSetBtns {
    margin-bottom: 1.3rem;
  }
  
  .groupCardBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 46vw; */
  }

  .cardBtn {
    margin: 0.8rem;
  }
}